<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="86400">
    <Properties>
        <property name="pattern_file">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} - %msg%n
        </property>
    </Properties>
    <Appenders>
        <File name="TxtFile" fileName="logs/log.txt" bufferedIO="true" append="false">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="TxtFile"/>
        </Root>
    </Loggers>
</Configuration>