@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
}
:root {
  --font: "Poppins", sans-serif;
  --black: #333;
  --yellow: #fdc62d;
  --white: #fff;
  --grey: #666;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  cursor: pointer;
  font-family: var(--font);
  text-decoration: none;
  transition: 0.5s;
}
.main {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 800px;
  background-image: url(../../images/tekstura-material-linii-564.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.registration {
  position: relative;
  top: 80px;
  display: flex;
  margin: 0 auto;
  width: 550px;
  height: 450px;
  background-color: var(--black);
  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.384);
  border-radius: 10px;
}
.reg-content {
  padding: 50px;
}
.reg-title {
  display: table;
  margin: 0 auto;
  font-family: var(--font);
  font-size: 25px;
  color: var(--white);
}
.reg-form {
  color: var(--white);
  border-bottom: 1px solid var(--white);
  height: 50px;
}
.reg-list {
  margin-top: 20px;
  height: 160px;
  align-items: center;
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(2, 1fr);
}
.reg-item {
  font-family: var(--font);
  color: var(--white);
  height: 60px;
  width: 200px;
  background-color: transparent;
  border: none;
}
.reg-item:focus {
  outline: none;
}
.reg-item::placeholder {
  font-family: var(--font);
  color: var(--white);
}
.reg-radio {
  height: 170px;
}
.form_radio_group {
  margin-top: 27px;
  display: grid;
  gap: 10px;
  width: 100px;
}
.form_radio_group-item {
  width: 100px;
  display: inline-block;
  float: left;
}
.form_radio_group input[type="radio"] {
  display: none;
}
.form_radio_group label {
  width: 100px;
  font-family: var(--font);
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  color: var(--white);
  border-right: none;
  user-select: none;
}
.form_radio_group-item {
  border: 1px solid var(--white);
  border-radius: 10px;
  width: 130px;
}
.form_radio_group input[type="radio"]:checked + label {
  background: var(--yellow);
  width: 100px;
  color: var(--black);
  border-radius: 10px;
}
.form_radio_group label:hover {
  color: #666;
}
.reg-accaunt {
  position: relative;
  top: 40px;
  display: block;
  margin: 0 auto;
  width: 200px;
  font-family: var(--font);
  font-size: 15px;
  color: var(--grey);
  text-decoration: underline;
}
.reg-accaunt:hover {
  color: var(--yellow);
  transition: 0.8s;
}
.reg-link {
  position: relative;
  top: 30px;
  display: block;
  margin: 0 auto;
  height: 53px;
  width: 130px;
  border-radius: 6px;
}
.reg-button {
  display: block;
  margin: 0 auto;
  font-family: var(--font);
  color: var(--black);
  font-size: 18px;
  background-color: var(--yellow);
  height: 53px;
  width: 130px;
  border-radius: 6px;
}
.reg-button:hover {
  transition: 0.9s;
  opacity: 0.7;
}
.message_error{
  position: relative;
  top: 60px;
  display: block;
  margin: 0 auto;
  width: 250px;
  font-family: var(--font);
  color: var(--yellow);
}